
$colorPrimary: #8bc34a;
$colorPrimaryDark: #5a9216;
$colorPrimaryLight: #bef67a;
$colorPrimaryExtraLight:#f2ffab;
$colorAccent:   #790e8b;


$scrollbarTrackBackground: #0000;
$scrollbarTrackBackgroundHover: #0002;
$scrollbarThumbBackground: #fff3;
$scrollbarThumbBackgroundHover: #fffc;