
$colorPrimary: #8bc34a;
$colorPrimaryDark: #5a9216;
$colorPrimaryLight: #bef67a;
$colorPrimaryExtraLight:#f2ffab;
$colorAccent:   #790e8b;


$scrollbarTrackBackground: transparentize(black, 0);
$scrollbarTrackBackgroundHover: transparentize(black, .09);
$scrollbarThumbBackground: transparentize(white, .13);
$scrollbarThumbBackgroundHover: transparentize(white, .8);