@import './dimens';
@import './colors';

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin baseAppBar {
    width: 100%;
    height: $appBarSize;
    background-color: $colorPrimary;
    @each $prefix in -moz-, -webkit-, null {
        #{$prefix}box-shadow: 0 0 $appBarShadowBlur 0 black;
    }
}

@mixin verticalBoxShadow($vOfset) {
    @each $prefix in -moz-, -webkit-, null {
        #{$prefix}box-shadow: 0 $vOfset $vOfset*4 $vOfset/-2 black;
    }
}

$tablet: "(max-width: " + $tabletMaxWidth + ")";
$phablet: "(max-width: " + $phabletMaxWidth + ")";
$phone: "(max-width: " + $phoneMaxWidth + ")";

@mixin screen($size){
    @if $size == tablet{
        @media screen and #{$tablet}{
            @content;
        }
    }
    @else if $size == phablet{
        @media screen and #{$phablet}{
            @content;
        }
    }
    @else if $size == phone{
        @media screen and #{$phone}{
            @content;
        }
    }
}

@mixin lanscapeMode{
    @media screen and (orientation:landscape){
        @content;
    }
}

@mixin verticalStyledScrollBar{
    &:hover::-webkit-scrollbar {
        display: initial;
    }
    
    &::-webkit-scrollbar {
        width: calc(#{$appBarSize} * 0.15);
        display: none;
    }
    
    &::-webkit-scrollbar-track {
        background: $scrollbarTrackBackground;
    }
    
    &::-webkit-scrollbar-track:hover {
        background: $scrollbarTrackBackgroundHover;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $scrollbarThumbBackground;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbarThumbBackgroundHover;
    }
}